.page-container {
	margin-left: auto;
    margin-right: auto;
	width: 500px;
	border: 1px solid #D3D3D3;
	padding: 50px;
	&:not(#plan) {
		display: none;
	}
}

.page-navigation{
	width: 500px;
	margin-left: auto;
    margin-right: auto;
}

/* mobile responsiveness */
@media (max-width: 600px) {
    .page-container{ 
    width: auto;
  }
  .page-navigation{
	  width: auto;
	  .top-nav{
		  width: auto;
		  
	  }
  }
}