.app-container {
  background-color: rgb(238, 238, 238);
}

.page-container {
	margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
	width: 500px;
	background-color: rgb(247, 247, 247);
	padding: 50px;

	&:not(#plan) {
		display: none;
	}
}