/* TOP NAVIGATION */
nav {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-links{
    list-style: none;
    display: flex;
    .nav-item a{
      text-decoration: none;
      color: #D3D3D3;
      font-size: 1.1em;
      padding: 1em;
      // if link has active class then color red
      &.active{  
        color: #F45454;
      }
    }
    hr{
      margin-top: 14px;
      border-top: solid 1px;
      border-left: none;
      color: #D3D3D3;
      height: 0;
      width: 12px;
    }
  }
}
/* BOTTOM NAVIGATION */

.bottomNav{
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content:space-evenly;

  button {
    display: inline-block;
  }
  
  .nextNavButton{
    color: #F45454;
    border: 1px solid #F45454
  }
}
/* LOGO HEADER */
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  margin-left: 35px;
  h4{
    color: #707070;
    margin-left: 20px;
  }
  img{
    margin-top: 14px;
  }
}






