
#plan{
    h1{
        margin-bottom: 30px;
    }
}

  .add-task { 
      margin-bottom: 40px;
      form{
        display: flex;
        justify-content: space-between;
        .inline-input{
            display: inline-block;
            
        }
        label{
            font-size: 0.7em;
            color: rgba(0, 0, 0, 0.3);
        } 
        input, select, button{
            font-size: 0.7em;
            font-family: HK Grotesk;
            //color: rgba(0, 0, 0, 0.3);
            border: 1px solid darkgray;
            border-radius: 3px;
            height: 20px;
            box-sizing: border-box;
        }
        input::placeholder {
            color: rgba(0, 0, 0, 0.3);
          }
        
        #taskInput{
            width: 150px;
            padding-left: 5px;

        }
        #estimatedTimeInput{
            width: 50px;
        }
        #dueDateInput{
            padding-left: 5px;
        }
        button{
            margin-top: 33px;
            height: 20px;
            border-color: #F45454;
            color:#F45454;
            background-color: transparent;
        }
    }
}


@media (max-width: 600px) {
    .add-task{
        form{
            flex-direction: column;
            button{
			  width: auto;
		  }

        }
    }
  }
.manage-tasks { 
    grid-area: manage-tasks;
    margin-top: 0;
}

.covey{
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    grid-template-areas: 
        'iu nu'
        'in nn';
    
    .quadrant{
        border: 1px solid darkgray;
        border-radius: 3px;
        height: 100px;
        width: 200px;
        padding: 1rem;
        position: relative;
        
    }

    h3{
        font-size: 0.7em;
        color: rgba(0, 0, 0, 0.3);
        margin-top: -5px;
        text-align: center;

    }

    #iu{
        grid-area: iu;
    }
    #nu{
        grid-area: nu;
    }
    #in{
        grid-area: in;
    }
    #nn{
        grid-area: nn;
    }

    .delTask{
        background-color: transparent;
        border: none;
        margin-left: 20px;

    }

    .quadrant ul{
        margin-top: 20px;
        margin-left: -2.5em;
        list-style: none;
        font-size: 0.8em;
        position:absolute;
        top: 10px;
    }
}


@media (max-width: 600px) {
    .covey{ 
    grid-template-areas: 
        'iu' 
        'nu'
        'in'
        'nn';
        
    }
  }

::-webkit-calendar-picker-indicator{
    margin-left: 0px;
    filter: invert(70%);
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;

}

.glyphicon { 
	color: rgba(0,0,0,0.1); 
	position: relative;
	left: -27px;
	top: 2px;
	cursor: pointer;
	padding: 6px;
}




