.review-session{
    
    textarea{
        width: 100%;
        resize: none;
        font-size: 0.7em;
        font-family: HK Grotesk;
        padding: 10px;
    
    }
}


/* Adapted from https://codepen.io/hesguru/pen/BaybqXv */
 .rating-star {
    font-size: 3em;
    direction: rtl;
    text-align: center;
    margin-bottom: 30px;

    label{
        color: #e6e6e6;
        display: inline-block;
    }
    input {
      display: none;
    } 
    input:checked ~ label,
    label:hover,
    label:hover ~ label {
      color: #F45454;
    }
  
    label:hover ~ input:checked ~ label {
      color: #f454549a;
    }
  }
  
  
  