#pomodoro-container{
    display: none;
}

.grid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "timer tasks"
        "flash-cards flash-cards"
        "music lookup";
    .timer {
        grid-area: timer; 
        .timer-tab{
            display: inline-block;
        }
        .timer-tab h3{
            margin-right: 2em;
            &.active-tab{
                font-weight: bold;
            }
        }
        .timer-container{
            label{
                font-size: 0.8em;
            }
            input{
                width: 3em;
            }
        }
        
    }
    .tasks {
        grid-area: tasks;
        .completed{
            text-decoration: line-through;
        } 
    }
    .flash-cards { 
        margin-top: 2em;
        grid-area: flash-cards; 
        .flash-cards-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
              "add-card card-stack"
              "add-card card-stack";
          }
          .add-card { grid-area: add-card; }
          .card-stack { 
              grid-area: card-stack;
              .nextCard{
                  float: right;
              }
              .backCard{
                  float: left;
              }
              .card{
                  background-color: lightgray;
                  width: 100%;
                  height: 140px;
                  .question{
                    width: 100%;
                    height: 70px;
                  }
                  .answer{
                    width: 100%;
                    height: 70px;
                    background-color: lightpink;
                  }
              }

            }
    }
      
    .music { 
        grid-area: music; 
    }
      
    .lookup { 
        grid-area: lookup; 
    }
    
  }
  
  


  @media only screen and (max-width: 600px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
  }